<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Seamstress On Call</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div th:switch="${clients}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
					<img th:src="@{/images/home.png}"/>
                </div>            
                <div class="col-md-6">
                    <p class="my-5"><a href="/addclient" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i>   &nbsp;Add Client&nbsp;&nbsp;</a></p>     
                    <p class="my-5"><a href="/clients" class="btn btn-primary"><i class="fas fa-users ml-2"></i>         &nbsp;View Clients</a></p>
                    <p class="my-5"><a href="/addorder" class="btn btn-primary"><i class="fas fa-money-check ml-2"></i>  &nbsp;Add Order&nbsp;&nbsp;&nbsp;</a></p>     
                    <p class="my-5"><a href="/orders" class="btn btn-primary"><i class="fas fa-money-check-alt ml-2"></i>&nbsp;View Orders&nbsp;</a></p>
                </div>
            </div>
        </div>
    </body>
</html>